{% extends "__layout.twig" %}

{% block content %}
    <br>
    <h2>Добавление TOYOTA</h2>
    <hr>
    {% if message %}
        <div class="alert alert-info">
            {{message}}
            <a href="cars_objects/{{id}}">Открыть сие чудо</a>
        </div>
    {% endif %}
    <form action="" enctype="multipart/form-data" method="post" class="row g-3">
        <div class="col-4">
            <label class="form-label">Модель</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="col-4">
            <label class="form-label">Заголовок</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="col-4">
            <label class="form-label">Тип</label>
            <select class="form-control" name="type">
               {% for type in types_from_types %}
                    <option value="{{ type.nametype }}">{{ type.nametype }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5"></textarea>
        </div>
        <div class="col-12">
            <label  class="form-label">Картинка</label>
            <input class="form-control" type="file" name="image">
          </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>

{% endblock %}