{% extends "__layout.twig" %} 
{% block content %}
    <style>
        .page-history {
            display: none;
        }
        .btnloguot {
            display: none;
        }
    </style>
    <div>
       <br><h2> Пожалуйста, авторизируйтесь </h2>
    </div>
    
    <form action="/login" method="post">
        <div class="d-flex gap-2 align-items-end">
            <div class="col-3">
                <label for="login">Логин</label><br>
                <input type="text" name="login" class="form-control">
            </div>
            <div class="col-3">
                <label for="password">Пароль</label><br>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </form>
    
    
     
    
    {% endblock %}