{% extends "__layout.twig" %}
{% block content %}
    <div>
       <br> <h2>Выбери кузов своего Toyota Mark II</h2><br><br>
        {% include 'listType.twig' %}
    </div>
    
    
    {% block objectContent %}
    {% endblock %}
{% endblock %}