{% extends "__layout.twig" %}

{% block content %}
<br><h2>Поиск</h2><br>

    <form action="">
        <div class="row g-3 align-items-end mb-2">
            <div class="col">
                <label for="type">Тип</label><br>
                <select name="type" class="form-control">
                    <option value="">Все</option>
                    {% for type in types_from_types %}
                        <option value="{{ type.nametype }}">{{ type.nametype }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="title">Название</label><br> 
               <input class="form-control" type="text" name="title">
            </div>
            <div class="col">
                <label for="info">Описание</label><br> 
                <input class="form-control"type="text" name="info">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </div>
       
       
       
        
    </form>
       {% for type in objects %}
            <div class="form-control">
                <a href="/cars_objects/{{ type.id }}?show=image">{{ type.title }}</a>
            </div>
                  
        {% endfor %}
{% endblock %}